.todo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;

  &__content {
    width: 100%;
    min-height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fffdfd;
    border-radius: 10px;
    @media screen and (max-width: 767px) {
      flex-direction: column;
      padding: 10px 15px;
    }
  }
}
